html {
    font-size: 10px; 
    font-family: "Open Sans", sans-serif; 
  }
  .hero img {
    display: block;
    width: 100%;
    height: auto;
  }

  .sociallinks img {
        width: 20px;
        height: auto;
        border: 2px solid steelblue;
        padding: 3px;
        box-shadow: 0 0 20px gray;
    }
  