html {
    font-size: 10px; 
    font-family: "Open Sans", sans-serif; 
  }
  .hero img {
    display: block;
    width: 100%;
    height: auto;
  }

  .sociallinks img {
        width: 20px;
        height: auto;
        border: 2px solid steelblue;
        padding: 3px;
        box-shadow: 0 0 20px gray;
    }
  /* add css grid for week04 */
header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}

.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}
