/* week04 */

header, footer, .gird {
    margin: 0 auto;
    max-width: 840px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff; /* shorthand for white */
}

h1 {
    color: steelblue;
    padding: .5rem;
    border-bottom: 1px solid steelblue;
    padding-bottom: 10px;
}



.gird {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
  width: 20rem;
  position: relative;
  grid-column:  1/2;
  grid-row: 1/2;
}

aside img {
    width: 300px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 25px;
    left: 130px;
}

main img {
    width: 180px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    padding: 0;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}
/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

