nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: steelblue;
}
img {
    width: 300px;
    height: auto;
    border: 3pxsolid steelblue;
    padding: 3px;
    box-shadow: 0 0 40px gray;
}
p {
    padding: 10px;
}
